<% layout('layouts/index') -%>
<h1><%= title %></h1>
<ul>
  <li>Input the username you just created</li>
  <li>Create a password</li>
  <li>Confirm the password</li>
</ul>
<form action="/auth/pw" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username">
  <label for="password">Password:</label>
  <input type="password" name="password" id="password">
  <label for="confirmationPassword">Confirm Password:</label>
  <input type="password" name="confirmationPassword" id="confirmationPassword">
  <button type="submit">Set password</button>
</form>