<% layout('layouts/index') -%>
<form action="/auth/token-resend" method="POST">
  <label for="username">Username:</label>
  <input type="text" name="username">
  <button type="submit">Resend Token</button>
</form>