<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">WDB-FAQ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/solutions">Soultions <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/solutions/new">New Solution</a>
      </li>
    </ul>
    <% if (!currentUser) { %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/auth/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/register">Register</a>
        </li>
      </ul>
    <% } else  { %>
    <ul class="navbar-nav ml-auto">
      <% if(currentUser.isAdmin) { %>
        <li class="nav-item">
          <a class="nav-link" href="#">Approvals <span class="badge badge-secondary">3</span></a>
        </li>
      <% } %>
      <li class="nav-item">
        <a class="nav-link" href="/auth/logout">Logout <%= currentUser.username %></a>
      </li>
    </ul>
    <% } %>
  </div>
</nav>