<!DOCTYPE html>
<html>
  <head>
    <title>The Web Developer Bootcamp FAQ</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ../partials/nav %>
    <div>
    <% if(error && error.length > 0) { %>

			<%= error %>

    <% } else if(success && success.length > 0) { %>

			<%= success %>

    <% } %>
    </div>

    <%- body -%>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>